<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find first_tf_pkg)/launch/spawn_urdf.launch">
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="0.2" />
        <arg name="urdf_robot_file" value="$(find first_tf_pkg)/urdf/test_bot.urdf" />
        <arg name="robot_name" value="test_bot" />
    </include>

</launch>