<?xml version="1.0" ?>
<model>
    <name>bag</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description>Model extracted from https://sketchfab.com/3d-models/boxing-heavy-bag-576b851a49f24693bf37e09a944b0f99, moded by Theconstruct</description>
</model>
