<?xml version="1.0"?>

<model>
  <name>jibo</name>
  <version>1.0</version>
  <sdf version="1.2">model-1_2.sdf</sdf>
  <sdf version="1.3">model-1_3.sdf</sdf>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>RDaneelOlivaw</name>
    <email>duckfrost@theconstructsim.com</email>
  </author>

  <description>
    A model of the Jibo Robot. The meshes were created by https://www.blender-models.com/author/michaelrod77/.
  </description>

  <depend>
  </depend>
</model>
